{% extends "base.html" %}

{% block content %}
<div class = "posts">
	{% for entry in entries %}
	<div class = "entry">
		<h2 class = "subject" style = "text-align: center"><a href = "/blog/{{entry.key().id()}} "> {{ entry.subject }}</a></h2>
		<hr>
		<p class = "date" style = "text-align: center">Date Created:  {{ entry.created.month }}/{{ entry.created.day }}/{{ entry.created.year }}</p>
		<pre class = "blog_entry">{{ entry.blog_content | safe }}</pre>
		<form class = "edit_delete">
			<button formmethod="post" value="{{entry.key().id()}}" name = "edit">Edit</button> 
			<button formmethod="post" value="{{ entry.key().id() }}" name="delete">Delete</button>
			<div = "like">
				<text>{{ entry.like_count }}</text>
				<img src="">
				<text>{{ entry.unlike_count }}</text>
				<img src="">
			</div>
		</form>
	</div>
	{% endfor %}
</div>
{% endblock %}